* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  text-align: left;
}

.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.switcher span {
  margin: 0 10px;
  font-weight: bold;
}

.switch input[type="checkbox"] {
  display: none;
}

.switch .slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ff0099;
  border-radius: 34px;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.task-list {
  list-style: none;
}

.task-list li {
  display: flex;
  align-items: left;
  margin-bottom: 10px;
}

.task-checkbox {
  margin-right: 10px;
}

.task-checkbox:checked + span {
  text-decoration: line-through;
  color: #aaa;
}

@media screen and (max-width: 600px) {
  .switcher {
    flex-direction: column;
  }

  .switcher span {
    margin-bottom: 10px;
  }
}

input[type=text], input[type=password] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }